@import url("https://fonts.googleapis.com/css2?family=Montserrat&display=swap");
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
}

.container {
  padding: 60px 15%;
}

header {
  margin-bottom: 60px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.person {
  margin-bottom: 20px;
}

.person img {
  width: 170px;
  height: 170px;
  border-radius: 60px;
  margin-bottom: 20px;
}

.person .name {
  text-align: center;
  color: #4e5150;
  font-weight: 600;
  font-size: 24px;
  margin-bottom: 8px;
}

.person .location {
  text-align: center;
  color: #a9a9a9;
  font-weight: 600;
  font-size: 14px;
}

.info {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr 1fr;
      grid-template-columns: 1fr 1fr 1fr;
  gap: 24px;
}

.info p {
  width: 100px;
  padding: 15px 0;
  background-color: #e5e5e5;
  color: #4e5150;
  font-size: 18px;
  font-weight: 600;
  border-radius: 16px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.info p span {
  font-size: 14px;
}

.gallery {
  display: -ms-grid;
  display: grid;
      grid-template-areas: "one two two" "three three four" "five six four";
  gap: 40px;
}

.gallery img {
  width: 100%;
  border-radius: 20px;
  -mox-box-shadow: 0px 3px 4px #a9a9a9;
  -webkit-box-shadow: 0px 3px 4px #a9a9a9;
  box-shadow: 0px 3px 4px #a9a9a9;
}

.gallery .p-one {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  grid-area: one;
}

.gallery .p-two {
  -ms-grid-row: 1;
  -ms-grid-column: 2;
  -ms-grid-column-span: 2;
  grid-area: two;
}

.gallery .p-three {
  -ms-grid-row: 2;
  -ms-grid-column: 1;
  -ms-grid-column-span: 2;
  grid-area: three;
}

.gallery .p-four {
  -ms-grid-row: 2;
  -ms-grid-row-span: 2;
  -ms-grid-column: 3;
  grid-area: four;
}

.gallery .p-five {
  -ms-grid-row: 3;
  -ms-grid-column: 1;
  grid-area: five;
}

.gallery .p-six {
  -ms-grid-row: 3;
  -ms-grid-column: 2;
  grid-area: six;
}

footer {
  padding: 100px 0 60px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

footer p {
  color: #a9a9a9;
  font-size: 14px;
  font-weight: 600;
}

footer p a {
  font-size: 14px;
  font-weight: 600;
  text-decoration: none;
  color: #a9a9a9;
}

@media (max-width: 768px) {
  .container {
    padding: 40px 20px;
  }
  header {
    margin-bottom: 40px;
  }
  header .person img {
    width: 100px;
    height: 100px;
    border-radius: 38px;
    margin-bottom: 6px;
  }
  header .person .name {
    font-size: 14px;
    margin-bottom: 5px;
  }
  header .person .location {
    font-size: 10px;
  }
  header .info {
    gap: 12px;
  }
  header .info p {
    width: 80px;
    padding: 10px 0;
  }
  header .info p,
  header .info p span {
    font-size: 12px;
  }
  .gallery {
    gap: 10px;
  }
  footer {
    padding: 30px 0;
  }
}
