@import url("https://fonts.googleapis.com/css2?family=Montserrat&display=swap");

// Variables
$col-1: #4e5150;
$col-2: #a9a9a9;
$col-3: #e5e5e5;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
}

.container {
  padding: 60px 15%;
}

header {
  margin-bottom: 60px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.person {
  margin-bottom: 20px;

  img {
    width: 170px;
    height: 170px;
    border-radius: 60px;
    margin-bottom: 20px;
  }

  .name {
    text-align: center;
    color: $col-1;
    font-weight: 600;
    font-size: 24px;
    margin-bottom: 8px;
  }

  .location {
    text-align: center;
    color: $col-2;
    font-weight: 600;
    font-size: 14px;
  }
}

.info {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 24px;

  p {
    width: 100px;
    padding: 15px 0;
    background-color: $col-3;
    color: $col-1;
    font-size: 18px;
    font-weight: 600;
    border-radius: 16px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    span {
      font-size: 14px;
    }
  }
}

.gallery {
  display: grid;
  grid-template-areas:
    "one two two"
    "three three four"
    "five six four";
  gap: 40px;

  img {
    width: 100%;
    border-radius: 20px;
    -mox-box-shadow: 0px 3px 4px $col-2;
    -webkit-box-shadow: 0px 3px 4px $col-2;
    box-shadow: 0px 3px 4px $col-2;
  }

  .p-one {
    grid-area: one;
  }
  .p-two {
    grid-area: two;
  }
  .p-three {
    grid-area: three;
  }
  .p-four {
    grid-area: four;
  }
  .p-five {
    grid-area: five;
  }
  .p-six {
    grid-area: six;
  }
}

footer {
  padding: 100px 0 60px 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

footer p {
  color: $col-2;
  font-size: 14px;
  font-weight: 600;
}

footer p a {
  font-size: 14px;
  font-weight: 600;
  text-decoration: none;
  color: $col-2;
}

@media (max-width: 768px) {
  .container {
    padding: 40px 20px;
  }

  header {
    margin-bottom: 40px;

    .person {
      img {
        width: 100px;
        height: 100px;
        border-radius: 38px;
        margin-bottom: 6px;
      }
      .name {
        font-size: 14px;
        margin-bottom: 5px;
      }
      .location {
        font-size: 10px;
      }
    }

    .info {
      gap: 12px;

      p {
        width: 80px;
        padding: 10px 0;
      }

      p,
      p span {
        font-size: 12px;
      }
    }
  }

  .gallery {
    gap: 10px;
  }

  footer {
    padding: 30px 0;
  }
}
